.editPopup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	padding: 20px;
	background-color: rgba(55, 90, 127,.8);
	border-radius: 20px;
}

.rotate90{
	transform: rotate(-90deg);
	transform-origin: right, top;
	-ms-transform: rotate(-90deg);
	-ms-transform-origin:right, top;
	-webkit-transform: rotate(-90deg);
	-webkit-transform-origin:right, top;
}

.table tbody>tr>td{
    vertical-align: middle;
}